body {
  background: #f4f0f0;
  font-family: 'Montserrat', sans-serif;
  color:#776e6e;
  width: 100;
}

h1 {
  margin: auto;
  padding-top: 20px;
  text-align: center;
  font-weight: 300;
  font-size: 20px;
  letter-spacing: 5px;
}

h2 {
  text-align: center;
  font-weight: 300;
  font-size: 15px;
  letter-spacing: 5px;
}

.topMenu p.changeMenu span {
  transition: 1s;
}

.topMenu:hover p.changeMenu span {
  display: none;

}

.topMenu:hover p.changeMenu:after {
  content: 'HOME';
}

.navBar {
  padding-top: 5px;
}

.navBar span {
  margin: 10px;
  padding: 10px;
  transition: .5s;
}

.navBar span:hover {
 color: #b6afaf;
}


footer {
  position: absolute;
  bottom:0;
  width: 100%;
  font-weight: 300;
  font-size: 12px;
  display: inline-block;
  letter-spacing: 5px;
}

.contact {
  margin: auto;
  padding-right: 20px;
  float:right;
  display: flex;
  position: relative;
}


.contact span{
  margin: 10px;
  padding: 10px;
  padding-top: 20px;
  transition: .5s;
}

.contact span:hover {
  color: #b6afaf;
}

.byMe {
  padding: 20px;
  font-size: 12px;
  float: left
}

